@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

/* Custom styles in your global CSS file */
.vertical-timeline-element-title {
  font-weight: bold;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .vertical-timeline-element-content {
    text-align: left;
  }
}
